h3 {
  align-items: left;
  text-align: left;
  justify-content: left;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-direction: column;
}

.App-link {
    color: #61dafb;
}

.card-text {
  font-size: 10px;
}

.Card {
  outline-style:solid;
  outline-width: 1px;
}

.card-margin {
  margin: 10px;
}



@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
